* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
}
nav {
  font-size: 3rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  background-color: #1C6758;
  color: #eef2e6;
}

main {
  display: flex;
  flex-direction: column;
}

#msg {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  height: 200px;
}
.divMsg {
  font-size: 2rem;
  width: 50vw;
  height: 20vh;
  max-width: 200px;
  max-height: 50px;
  margin-top: 2vh;
  background-color: #3d8361;
  color: #eef2e6;
  border: none;
  border-radius: 10px;
}

#form {
  text-align: center;
}

#btns {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 100px;
  
}
button {
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  margin-top: 2vh;
  width: 50vw;
  height: 20vh;
  max-width: 200px;
  max-height: 50px;
    
  background-color: #3d8361;
  color: #eef2e6;
}

button:hover, button:active {
  background-color: #D6CDA4;
  color: #3d8361;
}

#form div{
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

